#!name=Chipper辅助V4 By @niuniujunGroup
#!desc=1.邮箱过人脸 2.USDT入金 3.跳过Pin 4.禁止更新 By @niuniujunGroup
#!category=Chipper

#[MITM]
hostname = api.chippercash.com, compliance.chippercash.com, auth.chippercash.com

